@media screen {
    div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
        border: 0;
        border-radius: .25em;
        background: initial;
        background-color: #00ff99!important;
        color: #000!important;
        font-size: 1em;
    }
}